* {
  margin: 0;
  padding: 0; }

body {
  background-image: url(../imagenes/fondo3.png); }
  body .contenedor {
    display: grid;
    grid-template-areas: "header" "titulo" "main" "carru" "hipervinculos" "footer ";
    /*lo que cambia entre hoja y hoja de htmls*/
    /*redireccion a otras hojas del html*/
    /*Pie de pagina*/ }
    body .contenedor header {
      position: sticky;
      z-index: 2;
      top: 1mm;
      grid-area: header;
      margin: 5px 7mm; }
      body .contenedor header .color-encabezado {
        border: 3px solid black;
        border-radius: 50px;
        background-color: #666699; }
        body .contenedor header .color-encabezado .imagen {
          margin-left: 5mm;
          width: 90px;
          height: 90px; }
        body .contenedor header .color-encabezado .navbar-toggler {
          background-color: white; }
        body .contenedor header .color-encabezado .palabrasEncabezado {
          justify-content: start; }
          body .contenedor header .color-encabezado .palabrasEncabezado .nav-item {
            padding-left: 2mm;
            margin: 4mm 2mm;
            background-color: white; }
    body .contenedor .titulo {
      grid-area: titulo;
      margin: 3mm 0mm 1mm;
      /*para que la caja se ponnga en el centro*/
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center; }
      body .contenedor .titulo .subTitulo {
        /*para que el titulo se centre*/
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 220px;
        height: 50px;
        padding: 0mm;
        border: 3px dashed black;
        background-color: yellowgreen;
        font-size: 5mm;
        font-family: Arial, Helvetica, sans-serif; }
    body .contenedor main form {
      /*todo lo que seria info en la pagina*/ }
      body .contenedor main form .contenido {
        grid-area: main;
        height: 400px;
        width: 300px;
        overflow: auto;
        margin: 5mm;
        padding: 5mm 6mm;
        margin-left: auto;
        margin-right: auto;
        border: 3px solid black;
        background-color: #e9b960;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify; }
        body .contenedor main form .contenido .opciones {
          padding: 7px 0mm;
          font-size: 12px; }
    body .contenedor .hipervinculos {
      grid-area: hipervinculos;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin: 1cm 5mm 5mm;
      font-size: 12px;
      font-family: Arial, Helvetica, sans-serif; }
      body .contenedor .hipervinculos .hijos {
        text-align: center;
        width: auto;
        padding: 5px;
        background-color: yellowgreen; }
    body .contenedor footer {
      grid-area: footer;
      margin-top: 10px; }
      body .contenedor footer .pieDePagina {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 12px;
        border-top: 3px solid #333300;
        background-color: #b181dd; }
        body .contenedor footer .pieDePagina .subPieDePagina {
          padding: 5px; }
          body .contenedor footer .pieDePagina .subPieDePagina iframe {
            width: 300px;
            height: 150px; }
        body .contenedor footer .pieDePagina .redes {
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center;
          margin-left: auto;
          margin-right: auto; }
          body .contenedor footer .pieDePagina .redes .subRedes {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2cm;
            height: 1cm;
            margin: 0px 10px 10px;
            background-color: #d5e3ff;
            border: 5px ridge #bafdff;
            font-size: 13px; }
            body .contenedor footer .pieDePagina .redes .subRedes:hover {
              transform: scale(1.19);
              transition: 1.5s; }
            body .contenedor footer .pieDePagina .redes .subRedes .links {
              text-decoration: none;
              list-style: none;
              color: black;
              font-size: 12px -1px; }

/*para pantallas de tablets*/
@media only screen and (min-width: 650px) {
  body .contenedor header {
    top: 10px;
    margin: 5px 4mm; }
    body .contenedor header .color-encabezado .imagen {
      width: 120px;
      height: 100px; }
    body .contenedor header .color-encabezado .palabrasEncabezado {
      justify-content: space-around; }
      body .contenedor header .color-encabezado .palabrasEncabezado .nav-item {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        padding: 1mm 3mm;
        border: 2px solid black;
        background-color: white;
        border-radius: 30px;
        width: 120px;
        height: 80px;
        text-align: center; }
  body .contenedor .titulo .subTitulo {
    width: 300px;
    height: 80px;
    font-size: 25px; }
  body .contenedor main form {
    /*todo lo que seria info en la pagina*/ }
    body .contenedor main form .contenido {
      height: 420px;
      width: 600px;
      margin-left: auto;
      margin-right: auto;
      padding: 2mm 7mm; }
      body .contenedor main form .contenido .opciones {
        font-size: 17px; }
  body .contenedor .hipervinculos {
    font-size: 15px; }
  body .contenedor footer .pieDePagina {
    margin-top: 30px;
    font-size: 18px; }
    body .contenedor footer .pieDePagina .subPieDePagina iframe {
      width: 500px;
      height: 250px; }
    body .contenedor footer .pieDePagina .redes .subRedes {
      width: 150px;
      height: 70px; }
      body .contenedor footer .pieDePagina .redes .subRedes .links {
        font-size: 16px; } }

/*fin de quering para tablets*/
@media only screen and (min-width: 1200px) {
  body .contenedor {
    /*todo lo que seria info en la pagina*/ }
    body .contenedor header {
      margin: 2mm 1cm;
      top: 5px; }
      body .contenedor header .color-encabezado .imagen {
        width: 170px;
        height: 150px; }
      body .contenedor header .color-encabezado .palabrasEncabezado .nav-item {
        padding-left: 2mm;
        margin: 4mm 5mm;
        width: 180px;
        height: 60px; }
    body .contenedor .titulo .subTitulo {
      width: 350px;
      height: 90px;
      font-size: 30px; }
    body .contenedor main form {
      /*todo lo que seria info en la pagina*/ }
      body .contenedor main form .contenido {
        height: 470px;
        width: 800px;
        font-size: 17px; }
    body .contenedor .contenido {
      width: 800px;
      height: 470px;
      font-size: 17px; }
    body .contenedor .carousel .carousel-inner .carousel-item {
      /*las review*/
      /*no me funciona la "," para que se repita un codigo en diferentes clases*/
      /*no me funciona la "," para que se repita un codigo en diferentes clases*/ }
      body .contenedor .carousel .carousel-inner .carousel-item .hoja1 {
        width: 600px;
        height: 200px;
        margin-bottom: 1cm;
        font-size: 20px; }
      body .contenedor .carousel .carousel-inner .carousel-item .hoja2 {
        width: 600px;
        height: 200px;
        margin-bottom: 1cm;
        font-size: 20px; }
      body .contenedor .carousel .carousel-inner .carousel-item .hoja3 {
        width: 600px;
        height: 200px;
        margin-bottom: 1cm;
        font-size: 20px; }
    body .contenedor .hipervinculos {
      font-size: 17px;
      margin-bottom: 3mm; }
    body .contenedor footer {
      margin-top: 1cm; }
      body .contenedor footer .pieDePagina {
        font-size: 4.5mm;
        padding-top: 2mm; }
        body .contenedor footer .pieDePagina .subPieDePagina {
          padding: 1.3mm; }
          body .contenedor footer .pieDePagina .subPieDePagina iframe {
            width: 600px;
            height: 300px; }
        body .contenedor footer .pieDePagina .redes .subRedes {
          width: 4cm;
          height: 1.8cm; }
          body .contenedor footer .pieDePagina .redes .subRedes .links {
            font-size: 17px; } }

/*fin de quering para computadoras*/
