* {
  margin: 0;
  padding: 0; }

body {
  background-image: url(../imagenes/fondo3.png); }
  body .contenedor {
    display: grid;
    grid-template-areas: "header " "h1   " "h2     "   "main  " "flecha" "footer ";
    /*flecha que manda para arriba*/
    /*Pie de pagina*/ }
    body .contenedor header {
      position: sticky;
      z-index: 2;
      top: 1mm;
      grid-area: header;
      margin: 5px 7mm; }
      body .contenedor header .color-encabezado {
        border: 3px solid black;
        border-radius: 50px;
        background-color: #666699; }
        body .contenedor header .color-encabezado .imagen {
          margin-left: 5mm;
          width: 90px;
          height: 90px; }
        body .contenedor header .color-encabezado .navbar-toggler {
          background-color: white; }
        body .contenedor header .color-encabezado .palabrasEncabezado {
          justify-content: start; }
          body .contenedor header .color-encabezado .palabrasEncabezado .nav-item {
            padding-left: 2mm;
            margin: 4mm 2mm;
            background-color: white; }
    body .contenedor h1 {
      grid-area: h1;
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      font-size: 23px;
      margin-top: 5px;
      background-color: #d4eafc;
      display: inline;
      padding-left: 1px;
      padding-right: 1px;
      margin-left: auto;
      margin-right: auto; }
    body .contenedor h2 {
      grid-area: h2;
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      font-size: 18px;
      background-color: aliceblue;
      display: inline;
      padding-left: 10px;
      padding-right: 10px;
      margin-left: auto;
      margin-right: auto; }
    body .contenedor main {
      grid-area: main;
      margin-bottom: 10px;
      border: 3px solid black;
      width: 300px;
      height: 400px;
      margin-left: auto;
      margin-right: auto;
      overflow: auto;
      background-color: #c39bd3;
      font-family: Arial, Helvetica, sans-serif; }
      body .contenedor main .noticia {
        margin: 10px;
        padding: 10px;
        background-color: #ddddfa;
        border: 3px dashed black;
        font-size: 12px; }
    body .contenedor .moverInicio {
      grid-area: flecha; }
      body .contenedor .moverInicio .flecha {
        width: 45px;
        height: 45px;
        border-radius: 50px;
        border: 3px ridge black;
        position: fixed;
        z-index: 1;
        top: 85%;
        margin-left: 87%;
        margin-right: 5px;
        padding: 0px; }
    body .contenedor footer {
      grid-area: footer;
      margin-top: 10px; }
      body .contenedor footer .pieDePagina {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 12px;
        border-top: 3px solid #333300;
        background-color: #b181dd; }
        body .contenedor footer .pieDePagina .subPieDePagina {
          padding: 5px; }
          body .contenedor footer .pieDePagina .subPieDePagina iframe {
            width: 300px;
            height: 150px; }
        body .contenedor footer .pieDePagina .redes {
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center;
          margin-left: auto;
          margin-right: auto; }
          body .contenedor footer .pieDePagina .redes .subRedes {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2cm;
            height: 1cm;
            margin: 0px 10px 10px;
            background-color: #d5e3ff;
            border: 5px ridge #bafdff;
            font-size: 13px; }
            body .contenedor footer .pieDePagina .redes .subRedes:hover {
              transform: scale(1.19);
              transition: 1.5s; }
            body .contenedor footer .pieDePagina .redes .subRedes .links {
              text-decoration: none;
              list-style: none;
              color: black;
              font-size: 12px -1px; }

/*para pantallas de tablets*/
@media only screen and (min-width: 650px) {
  body .contenedor header {
    top: 10px;
    margin: 5px 4mm; }
    body .contenedor header .color-encabezado .imagen {
      width: 150px;
      height: 120px; }
    body .contenedor header .color-encabezado .palabrasEncabezado {
      justify-content: space-around; }
      body .contenedor header .color-encabezado .palabrasEncabezado .nav-item {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        padding: 1mm 3mm;
        border: 2px solid black;
        background-color: white;
        border-radius: 30px;
        width: 120px;
        height: 80px;
        text-align: center; }
  body .contenedor h1 {
    font-size: 36px;
    padding: 0px; }
  body .contenedor h2 {
    font-size: 28px;
    padding: 0px; }
  body .contenedor main {
    width: 500px;
    height: 700px; }
    body .contenedor main .noticia {
      margin: 16px 30px;
      padding: 10px;
      font-size: 20px; }
  body .contenedor .moverInicio .flecha {
    width: 60px;
    height: 60px;
    border: 2px ridge black;
    top: 88%;
    margin-left: 87%;
    margin-right: 5px; }
  body .contenedor footer .pieDePagina {
    margin-top: 30px;
    font-size: 18px; }
    body .contenedor footer .pieDePagina .subPieDePagina iframe {
      width: 500px;
      height: 250px; }
    body .contenedor footer .pieDePagina .redes .subRedes {
      width: 150px;
      height: 70px; }
      body .contenedor footer .pieDePagina .redes .subRedes .links {
        font-size: 16px; } }

/*fin de quering para tablets*/
@media only screen and (min-width: 1200px) {
  body .contenedor header {
    margin: 2mm 1cm;
    top: 5px; }
    body .contenedor header .color-encabezado .imagen {
      width: 170px;
      height: 170px; }
    body .contenedor header .color-encabezado .palabrasEncabezado .nav-item {
      padding-left: 2mm;
      margin: 4mm 5mm;
      width: 180px;
      height: 60px; }
  body .contenedor h1 {
    background-color: aliceblue;
    display: inline;
    font-size: 1cm;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto; }
  body .contenedor h2 {
    display: inline;
    width: 15cm;
    margin: 5mm auto 1mm;
    font-size: 0.75cm; }
  body .contenedor .fondoMain {
    background-repeat: repeat;
    margin: 0cm 1cm;
    padding: 1mm 0mm 1mm; }
    body .contenedor .fondoMain main {
      z-index: 1;
      font-size: large;
      width: 15cm;
      height: 20cm; }
      body .contenedor .fondoMain main .noticia {
        margin: 1cm;
        padding: 7mm; }
  body .contenedor .moverInicio .flecha {
    display: none; }
  body .contenedor footer {
    margin-top: 1cm; }
    body .contenedor footer .pieDePagina {
      font-size: 4.5mm;
      padding-top: 2mm; }
      body .contenedor footer .pieDePagina .subPieDePagina {
        padding: 1.3mm; }
        body .contenedor footer .pieDePagina .subPieDePagina iframe {
          width: 600px;
          height: 300px; }
      body .contenedor footer .pieDePagina .redes .subRedes {
        width: 4cm;
        height: 1.8cm; }
        body .contenedor footer .pieDePagina .redes .subRedes .links {
          font-size: 17px; } }

/*fin de quering para computadoras*/
