* {
  margin: 0;
  padding: 0; }

body {
  background-image: url(../imagenes/fondo3.png); }
  body .contenedor {
    display: grid;
    grid-template-areas: "header "
 "tituloYSubtitulo"
 "main"
 "hipervinculos"
 "footer ";
    /*flecha que manda para arriba*/
    /*Pie de pagina*/ }
    body .contenedor header {
      position: sticky;
      z-index: 2;
      top: 1mm;
      grid-area: header;
      margin: 5px 7mm; }
      body .contenedor header .color-encabezado {
        border: 3px solid black;
        border-radius: 50px;
        background-color: #666699; }
        body .contenedor header .color-encabezado .imagen {
          margin-left: 5mm;
          width: 90px;
          height: 90px; }
        body .contenedor header .color-encabezado .navbar-toggler {
          background-color: white; }
        body .contenedor header .color-encabezado .palabrasEncabezado {
          justify-content: start; }
          body .contenedor header .color-encabezado .palabrasEncabezado .nav-item {
            padding-left: 2mm;
            margin: 4mm 2mm;
            background-color: white; }
    body .contenedor .tituloYSubtitulo {
      grid-area: tituloYSubtitulo; }
      body .contenedor .tituloYSubtitulo .titulo {
        width: 9.5cm;
        display: block;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
        margin: 5px 5px 8px;
        background-color: #d4eafc;
        padding-left: 1px;
        padding-right: 1px;
        margin-left: auto;
        margin-right: auto; }
      body .contenedor .tituloYSubtitulo .informacionNoticia {
        width: 5cm;
        display: block;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        background-color: aliceblue;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: auto;
        margin-right: auto; }
    body .contenedor .mainIndex {
      grid-area: main;
      margin-bottom: 10px;
      border: 3px solid black;
      width: 300px;
      height: 400px;
      margin-left: auto;
      margin-right: auto;
      overflow: auto;
      background-color: #c39bd3;
      font-family: Arial, Helvetica, sans-serif; }
      body .contenedor .mainIndex .noticia {
        margin: 10px;
        padding: 7px;
        background-color: #ddddfa;
        border: 3px dashed black;
        font-size: 14px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center; }
        body .contenedor .mainIndex .noticia .fotoNoticia {
          margin-bottom: 3px;
          height: 160px;
          width: 230px;
          border: 2px #3b3838 solid; }
        body .contenedor .mainIndex .noticia p {
          margin-bottom: 3px; }
    body .contenedor .moverInicio {
      grid-area: hipervinculos; }
      body .contenedor .moverInicio .flecha {
        width: 45px;
        height: 45px;
        border-radius: 50px;
        border: 3px ridge black;
        position: fixed;
        z-index: 1;
        top: 85%;
        margin-left: 87%;
        margin-right: 5px;
        padding: 0px; }
    body .contenedor footer {
      grid-area: footer;
      margin-top: 10px; }
      body .contenedor footer .pieDePagina {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 14px;
        border-top: 3px solid #333300;
        background-color: #b181dd; }
        body .contenedor footer .pieDePagina .subPieDePagina {
          padding: 5px; }
          body .contenedor footer .pieDePagina .subPieDePagina iframe {
            width: 300px;
            height: 150px; }
        body .contenedor footer .pieDePagina .redes {
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center;
          margin-left: auto;
          margin-right: auto; }
          body .contenedor footer .pieDePagina .redes .subRedes {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2cm;
            height: 1cm;
            margin: 0px 10px 10px;
            background-color: #d5e3ff;
            border: 5px ridge #bafdff;
            font-size: 15px; }
            body .contenedor footer .pieDePagina .redes .subRedes:hover {
              transform: scale(1.19);
              transition: 1.5s; }
            body .contenedor footer .pieDePagina .redes .subRedes .links {
              text-decoration: none;
              list-style: none;
              color: black;
              font-size: 14px -1px; }

/*para pantallas de tablets*/
@media only screen and (min-width: 650px) {
  body .contenedor header {
    top: 10px;
    margin: 5px 4mm; }
    body .contenedor header .color-encabezado .imagen {
      margin: 0px;
      width: 150px;
      height: 120px; }
    body .contenedor header .color-encabezado .palabrasEncabezado {
      justify-content: space-around; }
      body .contenedor header .color-encabezado .palabrasEncabezado .nav-item {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        padding: 1mm 3mm;
        border: 2px solid black;
        background-color: white;
        border-radius: 30px;
        width: 120px;
        height: 80px;
        text-align: center; }
  body .contenedor .tituloYSubtitulo .titulo {
    width: 18cm;
    font-size: 35px;
    padding: 0px; }
  body .contenedor .tituloYSubtitulo .informacionNoticia {
    width: 10cm;
    font-size: 27px;
    padding: 0px; }
  body .contenedor .mainIndex {
    width: 500px;
    height: 700px; }
    body .contenedor .mainIndex .noticia {
      margin: 16px 30px;
      padding: 10px;
      font-size: 19px; }
      body .contenedor .mainIndex .noticia .fotoNoticia {
        margin-bottom: 4px;
        height: 230px;
        width: 400px; }
  body .contenedor .moverInicio .flecha {
    width: 60px;
    height: 60px;
    border: 2px ridge black;
    top: 88%;
    margin-left: 87%;
    margin-right: 5px; }
  body .contenedor footer .pieDePagina {
    margin-top: 30px;
    font-size: 17px; }
    body .contenedor footer .pieDePagina .subPieDePagina iframe {
      width: 500px;
      height: 250px; }
    body .contenedor footer .pieDePagina .redes .subRedes {
      width: 150px;
      height: 70px; }
      body .contenedor footer .pieDePagina .redes .subRedes .links {
        font-size: 15px; } }

/*fin de quering para tablets*/
@media only screen and (min-width: 1200px) {
  body .contenedor header {
    margin: 2mm 1cm;
    top: 5px; }
    body .contenedor header .color-encabezado .imagen {
      width: 170px;
      height: 170px; }
    body .contenedor header .color-encabezado .palabrasEncabezado .nav-item {
      padding-left: 2mm;
      margin: 4mm 5mm;
      width: 180px;
      height: 60px; }
  body .contenedor .tituloYSubtitulo .titulo {
    width: 30cm;
    font-size: 1cm;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto; }
  body .contenedor .tituloYSubtitulo .informacionNoticia {
    margin: 5mm auto 1mm;
    font-size: 0.75cm; }
  body .contenedor .mainIndex {
    font-size: large;
    width: 15cm;
    height: 20cm; }
    body .contenedor .mainIndex .noticia {
      margin: 1cm;
      padding: 7mm;
      font-size: 19px; }
      body .contenedor .mainIndex .noticia .fotoNoticia {
        margin-bottom: 4px;
        width: 420px;
        height: 260px; }
  body .contenedor .moverInicio .flecha {
    display: none; }
  body .contenedor footer {
    margin-top: 1cm; }
    body .contenedor footer .pieDePagina {
      font-size: 4.5mm;
      padding-top: 2mm; }
      body .contenedor footer .pieDePagina .subPieDePagina {
        padding: 1.3mm; }
        body .contenedor footer .pieDePagina .subPieDePagina iframe {
          width: 600px;
          height: 300px; }
      body .contenedor footer .pieDePagina .redes .subRedes {
        width: 4cm;
        height: 1.8cm; }
        body .contenedor footer .pieDePagina .redes .subRedes .links {
          font-size: 17px; } }

/*fin de quering para computadoras*/
/*hojaa carreras*/
body {
  background-image: url(../imagenes/fondo3.png); }
  body .contenedorCarreras {
    display: grid;
    grid-template-areas: "header"
 "tituloYSubtitulo"
 "main" 
 "hipervinculos"
 "footer ";
    /*todo lo que seria info en la pagina*/
    /*redireccion a otras hojas del html*/
    /*Pie de pagina*/ }
    body .contenedorCarreras header {
      position: sticky;
      z-index: 2;
      top: 1mm;
      grid-area: header;
      margin: 5px 7mm; }
      body .contenedorCarreras header .color-encabezado {
        border: 3px solid black;
        border-radius: 50px;
        background-color: #666699; }
        body .contenedorCarreras header .color-encabezado .imagen {
          margin-left: 5mm;
          width: 90px;
          height: 90px; }
        body .contenedorCarreras header .color-encabezado .navbar-toggler {
          background-color: white; }
        body .contenedorCarreras header .color-encabezado .palabrasEncabezado {
          justify-content: start; }
          body .contenedorCarreras header .color-encabezado .palabrasEncabezado .nav-item {
            padding-left: 2mm;
            margin: 4mm 2mm;
            background-color: white; }
    body .contenedorCarreras .tituloYSubtituloHojaCarrera {
      grid-area: tituloYSubtitulo;
      /*lo que cambia entre hoja y hoja de htmls*/ }
      body .contenedorCarreras .tituloYSubtituloHojaCarrera .tituloHojaCarrera {
        margin: 3mm 0mm 1mm;
        /*para que la caja se ponnga en el centro*/
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center; }
        body .contenedorCarreras .tituloYSubtituloHojaCarrera .tituloHojaCarrera .subTituloHojaCarrera {
          /*para que el titulo se centre*/
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center;
          width: 220px;
          height: 50px;
          padding: 0mm;
          border: 3px dashed black;
          background-color: #2ff3fb;
          font-size: 5mm;
          font-family: Arial, Helvetica, sans-serif; }
      body .contenedorCarreras .tituloYSubtituloHojaCarrera .inicioHojaCarrera {
        width: 300px;
        margin: 0mm auto 1mm;
        background-color: white;
        padding: 0px 5px;
        font-size: 14px; }
    body .contenedorCarreras .carreras {
      grid-area: main;
      height: 400px;
      width: 300px;
      overflow: auto;
      margin: 0mm;
      padding: 0;
      margin-left: auto;
      margin-right: auto;
      border: 3px solid black;
      background-color: #c39bd3;
      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: justify; }
      body .contenedorCarreras .carreras .materias {
        padding: 0px; }
        body .contenedorCarreras .carreras .materias .subMaterias {
          margin: 12px 10px 10px;
          padding: 7px;
          background-color: #ddddfa;
          border: 3px dashed black;
          font-size: 14px;
          display: flex;
          flex-flow: column nowrap;
          align-items: center; }
    body .contenedorCarreras .hipervinculos {
      grid-area: hipervinculos;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin: 1cm 5mm 5mm;
      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif; }
      body .contenedorCarreras .hipervinculos .hijos {
        text-align: center;
        width: auto;
        padding: 5px;
        background-color: #2ff3fb; }
    body .contenedorCarreras footer {
      grid-area: footer;
      margin-top: 10px; }
      body .contenedorCarreras footer .pieDePagina {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 14px;
        border-top: 3px solid #333300;
        background-color: #b181dd; }
        body .contenedorCarreras footer .pieDePagina .subPieDePagina {
          padding: 5px; }
          body .contenedorCarreras footer .pieDePagina .subPieDePagina iframe {
            width: 300px;
            height: 150px; }
        body .contenedorCarreras footer .pieDePagina .redes {
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center;
          margin-left: auto;
          margin-right: auto; }
          body .contenedorCarreras footer .pieDePagina .redes .subRedes {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2cm;
            height: 1cm;
            margin: 0px 10px 10px;
            background-color: #d5e3ff;
            border: 5px ridge #bafdff;
            font-size: 15px; }
            body .contenedorCarreras footer .pieDePagina .redes .subRedes:hover {
              transform: scale(1.19);
              transition: 1.5s; }
            body .contenedorCarreras footer .pieDePagina .redes .subRedes .links {
              text-decoration: none;
              list-style: none;
              color: black;
              font-size: 14px -1px; }

/*para pantallas de tablets hojaaq1 carrera*/
@media only screen and (min-width: 650px) {
    body .contenedorCarreras header {
      top: 10px;
      margin: 5px 4mm; }
      body .contenedorCarreras header .color-encabezado .imagen {
        width: 120px;
        height: 100px; }
      body .contenedorCarreras header .color-encabezado .palabrasEncabezado {
        justify-content: space-around; }
        body .contenedorCarreras header .color-encabezado .palabrasEncabezado .nav-item {
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center;
          padding: 1mm 3mm;
          border: 2px solid black;
          background-color: white;
          border-radius: 30px;
          width: 120px;
          height: 80px;
          text-align: center; }
    body .contenedorCarreras .tituloYSubtituloHojaCarrera .tituloHojaCarrera .subTituloHojaCarrera {
      width: 300px;
      height: 80px;
      font-size: 25px; }
    body .contenedorCarreras .tituloYSubtituloHojaCarrera .inicioHojaCarrera {
      width: 600px;
      margin: 0mm auto 1mm;
      font-size: 20px; }
    body .contenedorCarreras .carreras {
      height: 420px;
      width: 600px;
      margin-left: auto;
      margin-right: auto;
      padding: 0px;
      font-size: 19px; }
      body .contenedorCarreras .carreras .materias {
        padding: 0px; }
        body .contenedorCarreras .carreras .materias .subMaterias {
          margin: 20px 30px;
          padding: 10px;
          font-size: 19px; }
    body .contenedorCarreras .hipervinculos {
      font-size: 19px; }
    body .contenedorCarreras footer .pieDePagina {
      margin-top: 30px;
      font-size: 17px; }
      body .contenedorCarreras footer .pieDePagina .subPieDePagina iframe {
        width: 500px;
        height: 250px; }
      body .contenedorCarreras footer .pieDePagina .redes .subRedes {
        width: 150px;
        height: 70px; }
        body .contenedorCarreras footer .pieDePagina .redes .subRedes .links {
          font-size: 15px; } }

/*fin de quering para tablets*/
@media only screen and (min-width: 1200px) {
    body .contenedorCarreras header {
      margin: 2mm 1cm;
      top: 5px; }
      body .contenedorCarreras header .color-encabezado .imagen {
        width: 170px;
        height: 150px; }
      body .contenedorCarreras header .color-encabezado .palabrasEncabezado .nav-item {
        padding-left: 2mm;
        margin: 4mm 5mm;
        width: 180px;
        height: 60px; }
    body .contenedorCarreras .tituloYSubtituloHojaCarrera .tituloHojaCarrera .subTituloHojaCarrera {
      width: 350px;
      height: 90px;
      font-size: 30px; }
    body .contenedorCarreras .tituloYSubtituloHojaCarrera .inicioHojaCarrera {
      width: 800px;
      margin: 0mm auto 2mm;
      font-size: 23px; }
    body .contenedorCarreras .carreras {
      height: 470px;
      width: 800px;
      font-size: 19px; }
      body .contenedorCarreras .carreras .materias {
        padding: 0px; }
        body .contenedorCarreras .carreras .materias .subMaterias {
          margin: 30px 40px;
          padding: 7mm;
          font-size: 19px; }
    body .contenedorCarreras .hipervinculos {
      font-size: 19px;
      margin-bottom: 3mm; }
    body .contenedorCarreras footer {
      margin-top: 1cm; }
      body .contenedorCarreras footer .pieDePagina {
        font-size: 4.5mm;
        padding-top: 2mm; }
        body .contenedorCarreras footer .pieDePagina .subPieDePagina {
          padding: 1.3mm; }
          body .contenedorCarreras footer .pieDePagina .subPieDePagina iframe {
            width: 600px;
            height: 300px; }
        body .contenedorCarreras footer .pieDePagina .redes .subRedes {
          width: 4cm;
          height: 1.8cm; }
          body .contenedorCarreras footer .pieDePagina .redes .subRedes .links {
            font-size: 17px; } }

/*fin de quering para computadoras*/
body {
  background-image: url(../imagenes/fondo3.png); }
  body .contenedorNosotros {
    display: grid;
    grid-template-areas: "header"
 "tituloYSubtitulo"
 "main"
 "hipervinculos"
 "footer ";
    /*lo que cambia entre hoja y hoja de htmls*/
    /*todo lo que seria info en la pagina*/
    /*redireccion a otras hojas del html*/
    /*Pie de pagina*/ }
    body .contenedorNosotros header {
      position: sticky;
      z-index: 2;
      top: 1mm;
      grid-area: header;
      margin: 5px 7mm; }
      body .contenedorNosotros header .color-encabezado {
        border: 3px solid black;
        border-radius: 50px;
        background-color: #666699; }
        body .contenedorNosotros header .color-encabezado .imagen {
          margin-left: 5mm;
          width: 90px;
          height: 90px; }
        body .contenedorNosotros header .color-encabezado .navbar-toggler {
          background-color: white; }
        body .contenedorNosotros header .color-encabezado .palabrasEncabezado {
          justify-content: start; }
          body .contenedorNosotros header .color-encabezado .palabrasEncabezado .nav-item {
            padding-left: 2mm;
            margin: 4mm 2mm;
            background-color: white; }
    body .contenedorNosotros .titulo {
      grid-area: tituloYSubtitulo;
      margin: 3mm 0mm 1mm;
      /*para que la caja se ponnga en el centro*/
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center; }
      body .contenedorNosotros .titulo .subTitulo {
        /*para que el titulo se centre*/
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 220px;
        height: 50px;
        padding: 0mm;
        border: 3px dashed black;
        background-color: #2ff3fb;
        font-size: 5mm;
        font-family: Arial, Helvetica, sans-serif; }
    body .contenedorNosotros .informacionFacultad {
      grid-area: main;
      width: 300px;
      height: 400px;
      overflow: auto;
      margin: 0mm;
      padding: 0mm;
      margin-left: auto;
      margin-right: auto;
      border: 3px solid black;
      background-color: #c39bd3; }
      body .contenedorNosotros .informacionFacultad .subInformacion {
        margin: 12px 10px 10px;
        padding: 7px;
        background-color: #ddddfa;
        border: 3px dashed black;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify; }
    body .contenedorNosotros .hipervinculoNosotros {
      grid-area: hipervinculos;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin: 1cm 5mm 5mm;
      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif; }
      body .contenedorNosotros .hipervinculoNosotros .hijos {
        text-align: center;
        width: auto;
        padding: 5px;
        background-color: #2ff3fb; }
    body .contenedorNosotros footer {
      grid-area: footer;
      margin-top: 10px; }
      body .contenedorNosotros footer .pieDePagina {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 14px;
        border-top: 3px solid #333300;
        background-color: #b181dd; }
        body .contenedorNosotros footer .pieDePagina .subPieDePagina {
          padding: 5px; }
          body .contenedorNosotros footer .pieDePagina .subPieDePagina iframe {
            width: 300px;
            height: 150px; }
        body .contenedorNosotros footer .pieDePagina .redes {
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center;
          margin-left: auto;
          margin-right: auto; }
          body .contenedorNosotros footer .pieDePagina .redes .subRedes {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2cm;
            height: 1cm;
            margin: 0px 10px 10px;
            background-color: #d5e3ff;
            border: 5px ridge #bafdff;
            font-size: 15px; }
            body .contenedorNosotros footer .pieDePagina .redes .subRedes:hover {
              transform: scale(1.19);
              transition: 1.5s; }
            body .contenedorNosotros footer .pieDePagina .redes .subRedes .links {
              text-decoration: none;
              list-style: none;
              color: black;
              font-size: 14px -1px; }

/*para pantallas de tablets hojaaq1 nosotros*/
@media only screen and (min-width: 650px) {
    body .contenedorNosotros header {
      top: 10px;
      margin: 5px 4mm; }
      body .contenedorNosotros header .color-encabezado .imagen {
        width: 120px;
        height: 100px; }
      body .contenedorNosotros header .color-encabezado .palabrasEncabezado {
        justify-content: space-around; }
        body .contenedorNosotros header .color-encabezado .palabrasEncabezado .nav-item {
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center;
          padding: 1mm 3mm;
          border: 2px solid black;
          background-color: white;
          border-radius: 30px;
          width: 120px;
          height: 80px;
          text-align: center; }
    body .contenedorNosotros .titulo .subTitulo {
      width: 300px;
      height: 80px;
      font-size: 25px; }
    body .contenedorNosotros .informacionFacultad {
      width: 600px;
      height: 420px;
      margin-left: auto;
      margin-right: auto;
      padding: 0px;
      font-size: 19px; }
      body .contenedorNosotros .informacionFacultad .subInformacion {
        margin: 20px 30px;
        padding: 10px;
        font-size: 19px; }
    body .contenedorNosotros .hipervinculoNosotros {
      font-size: 19px; }
    body .contenedorNosotros footer .pieDePagina {
      margin-top: 30px;
      font-size: 17px; }
      body .contenedorNosotros footer .pieDePagina .subPieDePagina iframe {
        width: 500px;
        height: 250px; }
      body .contenedorNosotros footer .pieDePagina .redes .subRedes {
        width: 150px;
        height: 70px; }
        body .contenedorNosotros footer .pieDePagina .redes .subRedes .links {
          font-size: 15px; } }

/*fin de quering para tablets*/
@media only screen and (min-width: 1200px) {
    body .contenedorNosotros header {
      margin: 2mm 1cm;
      top: 5px; }
      body .contenedorNosotros header .color-encabezado .imagen {
        width: 170px;
        height: 150px; }
      body .contenedorNosotros header .color-encabezado .palabrasEncabezado .nav-item {
        padding-left: 2mm;
        margin: 4mm 5mm;
        width: 180px;
        height: 60px; }
    body .contenedorNosotros .titulo .subTitulo {
      width: 350px;
      height: 90px;
      font-size: 30px; }
    body .contenedorNosotros .informacionFacultad {
      width: 800px;
      height: 470px; }
      body .contenedorNosotros .informacionFacultad .subInformacion {
        margin: 30px 40px;
        padding: 7mm;
        font-size: 19px; }
    body .contenedorNosotros .hipervinculoNosotros {
      font-size: 19px;
      margin-bottom: 3mm; }
    body .contenedorNosotros footer {
      margin-top: 1cm; }
      body .contenedorNosotros footer .pieDePagina {
        font-size: 17px;
        padding-top: 2mm; }
        body .contenedorNosotros footer .pieDePagina .subPieDePagina {
          padding: 1.3mm; }
          body .contenedorNosotros footer .pieDePagina .subPieDePagina iframe {
            width: 600px;
            height: 300px; }
        body .contenedorNosotros footer .pieDePagina .redes .subRedes {
          width: 4cm;
          height: 1.8cm; }
          body .contenedorNosotros footer .pieDePagina .redes .subRedes .links {
            font-size: 17px; } }

/*fin de quering para computadoras*/
body {
  background-image: url(../imagenes/fondo3.png); }
  body .contenedorInscripciones {
    display: grid;
    grid-template-areas: "header"
 "tituloYSubtitulo"
 "main"
 "hipervinculos"
 "footer ";
    /*redireccion a otras hojas del html*/
    /*Pie de pagina*/ }
    body .contenedorInscripciones header {
      position: sticky;
      z-index: 2;
      top: 1mm;
      grid-area: header;
      margin: 5px 7mm; }
      body .contenedorInscripciones header .color-encabezado {
        border: 3px solid black;
        border-radius: 50px;
        background-color: #666699; }
        body .contenedorInscripciones header .color-encabezado .imagen {
          margin-left: 5mm;
          width: 90px;
          height: 90px; }
        body .contenedorInscripciones header .color-encabezado .navbar-toggler {
          background-color: white; }
        body .contenedorInscripciones header .color-encabezado .palabrasEncabezado {
          justify-content: start; }
          body .contenedorInscripciones header .color-encabezado .palabrasEncabezado .nav-item {
            padding-left: 2mm;
            margin: 4mm 2mm;
            background-color: white; }
    body .contenedorInscripciones .titulo {
      grid-area: tituloYSubtitulo;
      margin: 3mm 0mm 1mm;
      /*para que la caja se ponnga en el centro*/
      display: flex;
      align-items: center;
      justify-content: center; }
      body .contenedorInscripciones .titulo .subTitulo {
        /*para que el titulo se centr2*/
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 220px;
        padding: 0mm;
        border: 3px dashed black;
        background-color: #2ff3fb;
        font-size: 5mm;
        font-family: Arial, Helvetica, sans-serif; }
    body .contenedorInscripciones .formulario form .contenido {
      grid-area: main;
      height: 400px;
      width: 300px;
      overflow: auto;
      margin: 5mm;
      padding: 2mm 5mm;
      margin-left: auto;
      margin-right: auto;
      border: 3px solid black;
      background-color: #ddddfa;
      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: justify; }
      body .contenedorInscripciones .formulario form .contenido .opciones {
        padding: 7px 0mm;
        font-size: 14px; }
    body .contenedorInscripciones .hipervinculoInscripciones {
      grid-area: hipervinculos;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin: 1cm 5mm 5mm;
      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif; }
      body .contenedorInscripciones .hipervinculoInscripciones .hijos {
        text-align: center;
        width: auto;
        padding: 5px;
        background-color: #2ff3fb; }
    body .contenedorInscripciones footer {
      grid-area: footer;
      margin-top: 10px; }
      body .contenedorInscripciones footer .pieDePagina {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 14px;
        border-top: 3px solid #333300;
        background-color: #b181dd; }
        body .contenedorInscripciones footer .pieDePagina .subPieDePagina {
          padding: 5px; }
          body .contenedorInscripciones footer .pieDePagina .subPieDePagina iframe {
            width: 300px;
            height: 150px; }
        body .contenedorInscripciones footer .pieDePagina .redes {
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center;
          margin-left: auto;
          margin-right: auto; }
          body .contenedorInscripciones footer .pieDePagina .redes .subRedes {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2cm;
            height: 1cm;
            margin: 0px 10px 10px;
            background-color: #d5e3ff;
            border: 5px ridge #bafdff;
            font-size: 15px; }
            body .contenedorInscripciones footer .pieDePagina .redes .subRedes:hover {
              transform: scale(1.19);
              transition: 1.5s; }
            body .contenedorInscripciones footer .pieDePagina .redes .subRedes .links {
              text-decoration: none;
              list-style: none;
              color: black;
              font-size: 14px -1px; }

/*para pantallas de tablets hojaaq1 inscripciones*/
@media only screen and (min-width: 650px) {
  body .contenedorInscripciones header {
    top: 10px;
    margin: 5px 4mm; }
    body .contenedorInscripciones header .color-encabezado .imagen {
      width: 120px;
      height: 100px; }
    body .contenedorInscripciones header .color-encabezado .palabrasEncabezado {
      justify-content: space-around; }
      body .contenedorInscripciones header .color-encabezado .palabrasEncabezado .nav-item {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        padding: 1mm 3mm;
        border: 2px solid black;
        background-color: white;
        border-radius: 30px;
        width: 120px;
        height: 80px;
        text-align: center; }
  body .contenedorInscripciones .titulo .subTitulo {
    width: 300px;
    height: 80px;
    font-size: 25px; }
  body .contenedorInscripciones .formulario form .contenido {
    height: 500px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 2mm 7mm;
    font-size: 19px; }
    body .contenedorInscripciones .formulario form .contenido .opciones {
      font-size: 19px; }
  body .contenedorInscripciones .hipervinculoInscripciones {
    font-size: 19px; }
  body .contenedorInscripciones footer .pieDePagina {
    margin-top: 30px;
    font-size: 17px; }
    body .contenedorInscripciones footer .pieDePagina .subPieDePagina iframe {
      width: 500px;
      height: 250px; }
    body .contenedorInscripciones footer .pieDePagina .redes .subRedes {
      width: 150px;
      height: 70px; }
      body .contenedorInscripciones footer .pieDePagina .redes .subRedes .links {
        font-size: 15px; } }

/*fin de quering para tablets*/
@media only screen and (min-width: 1200px) {
  body .contenedorInscripciones header {
    margin: 2mm 1cm;
    top: 5px; }
    body .contenedorInscripciones header .color-encabezado .imagen {
      width: 170px;
      height: 150px; }
    body .contenedorInscripciones header .color-encabezado .palabrasEncabezado .nav-item {
      padding-left: 2mm;
      margin: 4mm 5mm;
      width: 180px;
      height: 60px; }
  body .contenedorInscripciones .titulo .subTitulo {
    width: 350px;
    height: 90px;
    font-size: 30px; }
  body .contenedorInscripciones .formulario form .contenido {
    height: 500px;
    width: 800px;
    font-size: 19px; }
  body .contenedorInscripciones .formulario form .opciones {
    font-size: 19px; }
  body .contenedorInscripciones .hipervinculoInscripciones {
    font-size: 19px;
    margin-bottom: 3mm; }
  body .contenedorInscripciones footer {
    margin-top: 1cm; }
    body .contenedorInscripciones footer .pieDePagina {
      font-size: 17px;
      padding-top: 2mm; }
      body .contenedorInscripciones footer .pieDePagina .subPieDePagina {
        padding: 1.3mm; }
        body .contenedorInscripciones footer .pieDePagina .subPieDePagina iframe {
          width: 600px;
          height: 300px; }
      body .contenedorInscripciones footer .pieDePagina .redes .subRedes {
        width: 4cm;
        height: 1.8cm; }
        body .contenedorInscripciones footer .pieDePagina .redes .subRedes .links {
          font-size: 17px; } }

/*fin de quering para computadoras*/
body {
  background-image: url(../imagenes/fondo3.png); }
  body .contenedorEgresado {
    display: grid;
    grid-template-areas: "header"
 "tituloYSubtitulo"
 "main"
 "carru"
 "hipervinculos"
 "footer ";
    /*lo que cambia entre hoja y hoja de htmls*/
    /*todo lo que seria info en la pagina*/
    /*redireccion a otras hojas del html*/
    /*Pie de pagina*/ }
    body .contenedorEgresado header {
      position: sticky;
      z-index: 2;
      top: 1mm;
      grid-area: header;
      margin: 5px 7mm; }
      body .contenedorEgresado header .color-encabezado {
        border: 3px solid black;
        border-radius: 50px;
        background-color: #666699; }
        body .contenedorEgresado header .color-encabezado .imagen {
          margin-left: 5mm;
          width: 90px;
          height: 90px; }
        body .contenedorEgresado header .color-encabezado .navbar-toggler {
          background-color: white; }
        body .contenedorEgresado header .color-encabezado .palabrasEncabezado {
          justify-content: start; }
          body .contenedorEgresado header .color-encabezado .palabrasEncabezado .nav-item {
            padding-left: 2mm;
            margin: 4mm 2mm;
            background-color: white; }
    body .contenedorEgresado .titulo {
      grid-area: tituloYSubtitulo;
      margin: 3mm 0mm 1mm;
      /*para que la caja se ponnga en el centro*/
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center; }
      body .contenedorEgresado .titulo .subTitulo {
        /*para que el titulo se centre*/
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 220px;
        height: 50px;
        padding: 0mm;
        border: 3px dashed black;
        background-color: #2ff3fb;
        font-size: 5mm;
        font-family: Arial, Helvetica, sans-serif; }
    body .contenedorEgresado .informacionEgresados {
      grid-area: main;
      width: 300px;
      height: 400px;
      overflow: auto;
      margin: 0px;
      padding: 0px;
      margin-left: auto;
      margin-right: auto;
      border: 3px solid black;
      background-color: #c39bd3; }
      body .contenedorEgresado .informacionEgresados .subInformacionEgresados {
        margin: 12px 10px 10px;
        padding: 7px;
        background-color: #ddddfa;
        border: 3px dashed black;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify; }
    body .contenedorEgresado .carousel {
      grid-area: carru;
      display: none; }
    body .contenedorEgresado .hipervinculosEgresados {
      grid-area: hipervinculos;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin: 1cm 5mm 5mm;
      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif; }
      body .contenedorEgresado .hipervinculosEgresados .hijos {
        text-align: center;
        width: auto;
        padding: 5px;
        background-color: #2ff3fb; }
    body .contenedorEgresado footer {
      grid-area: footer;
      margin-top: 10px; }
      body .contenedorEgresado footer .pieDePagina {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 14px;
        border-top: 3px solid #333300;
        background-color: #b181dd; }
        body .contenedorEgresado footer .pieDePagina .subPieDePagina {
          padding: 5px; }
          body .contenedorEgresado footer .pieDePagina .subPieDePagina iframe {
            width: 300px;
            height: 150px; }
        body .contenedorEgresado footer .pieDePagina .redes {
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center;
          margin-left: auto;
          margin-right: auto; }
          body .contenedorEgresado footer .pieDePagina .redes .subRedes {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2cm;
            height: 1cm;
            margin: 0px 10px 10px;
            background-color: #d5e3ff;
            border: 5px ridge #bafdff;
            font-size: 15px; }
            body .contenedorEgresado footer .pieDePagina .redes .subRedes:hover {
              transform: scale(1.19);
              transition: 1.5s; }
            body .contenedorEgresado footer .pieDePagina .redes .subRedes .links {
              text-decoration: none;
              list-style: none;
              color: black;
              font-size: 14px -1px; }

/*para pantallas de tablets*/
@media only screen and (min-width: 650px) {
    body .contenedorEgresado header {
      top: 10px;
      margin: 5px 4mm; }
      body .contenedorEgresado header .color-encabezado .imagen {
        width: 120px;
        height: 100px; }
      body .contenedorEgresado header .color-encabezado .palabrasEncabezado {
        justify-content: space-around; }
        body .contenedorEgresado header .color-encabezado .palabrasEncabezado .nav-item {
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center;
          padding: 1mm 3mm;
          border: 2px solid black;
          background-color: white;
          border-radius: 30px;
          width: 120px;
          height: 80px;
          text-align: center; }
    body .contenedorEgresado .titulo .subTitulo {
      width: 300px;
      height: 80px;
      font-size: 25px; }
    body .contenedorEgresado .informacionEgresados {
      width: 600px;
      height: 420px;
      margin-left: auto;
      margin-right: auto;
      padding: 0px; }
      body .contenedorEgresado .informacionEgresados .subInformacionEgresados {
        margin: 20px 30px;
        padding: 10px;
        font-size: 19px; }
    body .contenedorEgresado .carousel {
      display: inline; }
        body .contenedorEgresado .carousel .carousel-inner .carousel-item .hojas {
          /*le hago flex para que el texto quede centrado en el recuadro*/
          display: flex;
          flex-flow: row nowrap;
          justify-content: start;
          align-items: flex-start;
          width: 540px;
          height: 200px;
          margin-left: auto;
          margin-right: auto;
          border: 2px solid black;
          background-color: white;
          border-radius: 10px;
          margin-bottom: 1cm; }
          body .contenedorEgresado .carousel .carousel-inner .carousel-item .hojas .fotoCarnet {
            width: 165px;
            height: 185px;
            border: 2px black solid;
            margin: auto 10px; }
          body .contenedorEgresado .carousel .carousel-inner .carousel-item .hojas .texto {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: flex-start;
            margin-top: 5px;
            font-size: 17px; }
            body .contenedorEgresado .carousel .carousel-inner .carousel-item .hojas .texto .review {
              width: 340px;
              height: 105px;
              overflow: auto;
              margin: 0px; }
    body .contenedorEgresado .hipervinculosEgresados {
      font-size: 19px; }
    body .contenedorEgresado footer .pieDePagina {
      margin-top: 30px;
      font-size: 17px; }
      body .contenedorEgresado footer .pieDePagina .subPieDePagina iframe {
        width: 500px;
        height: 250px; }
      body .contenedorEgresado footer .pieDePagina .redes .subRedes {
        width: 150px;
        height: 70px; }
        body .contenedorEgresado footer .pieDePagina .redes .subRedes .links {
          font-size: 15px; } }

/*fin de quering para tablets*/
@media only screen and (min-width: 1200px) {
    body .contenedorEgresado header {
      margin: 2mm 1cm;
      top: 5px; }
      body .contenedorEgresado header .color-encabezado .imagen {
        width: 170px;
        height: 150px; }
      body .contenedorEgresado header .color-encabezado .palabrasEncabezado .nav-item {
        padding-left: 2mm;
        margin: 4mm 5mm;
        width: 180px;
        height: 60px; }
    body .contenedorEgresado .titulo .subTitulo {
      width: 350px;
      height: 90px;
      font-size: 30px; }
    body .contenedorEgresado .informacionEgresados {
      width: 800px;
      height: 390px;
      margin-bottom: 1cm; }
      body .contenedorEgresado .informacionEgresados .subInformacionEgresados {
        margin: 30px 40px;
        padding: 7mm;
        font-size: 19px; }
      body .contenedorEgresado .carousel .carousel-inner .carousel-item .hojas {
        width: 600px;
        height: 200px; }
        body .contenedorEgresado .carousel .carousel-inner .carousel-item .hojas .texto .review {
          width: 430px;
          height: 105px; }
    body .contenedorEgresado .hipervinculosEgresados {
      font-size: 19px;
      margin-bottom: 3mm; }
    body .contenedorEgresado footer {
      margin-top: 1cm; }
      body .contenedorEgresado footer .pieDePagina {
        font-size: 17px;
        padding-top: 2mm; }
        body .contenedorEgresado footer .pieDePagina .subPieDePagina {
          padding: 1.3mm; }
          body .contenedorEgresado footer .pieDePagina .subPieDePagina iframe {
            width: 600px;
            height: 300px; }
        body .contenedorEgresado footer .pieDePagina .redes .subRedes {
          width: 4cm;
          height: 1.8cm; }
          body .contenedorEgresado footer .pieDePagina .redes .subRedes .links {
            font-size: 17px; } }

/*fin de quering para computadoras*/
