@import "utilities/variables";




*{
    margin: 0;
    padding: 0;
}

body{
  background-image: url(../imagenes/fondo3.png);
    .contenedor{

        display: grid;
    
        grid-template-areas: "header "
                             "h1   "
                             "h2     "  
                             "main  "
                             "flecha"
                             "footer ";
        header{
            //para que este sobre toda la pagina//
            position: sticky;
            z-index: 2;
            top: 1mm;
            grid-area: header;
            margin: 5px 7mm;
            
            .color-encabezado{
                border: 3px solid black;
                border-radius: 50px;
                background-color: rgb(102, 102, 153);

                .imagen{
                    margin-left: 5mm;
                    @include tamaño(90px, 90px);
                    
                }
                
                //pongo  en blanco el boton que se desliza//
                .navbar-toggler{
                    background-color: white;
                }
                //son los hipervinculos del encabezado, que se ponen contra la izquierda cuando esta en pantalla del celu//
                .palabrasEncabezado{  
                    justify-content: start;
        
                    .nav-item{
                        padding-left: 2mm;
                        margin: 4mm 2mm;
                        background-color: white; 
                    }
                }
            }
        }//fin encabezado//

        h1{
            grid-area: h1;
            text-align: center;
            font-family:'Times New Roman', Times, serif;
            font-size: $fontSizePromedioCelular+11px; 
            margin: 5px 5px 8px; 

            background-color: rgb(212, 234, 252);
            display:inline;
            padding-left:1px;
            padding-right: 1px;
            @include autoEmparejamiento;
        }
        h2{
        
            grid-area: h2;
            text-align: center;
            font-family:'Times New Roman', Times, serif;
            font-size: $fontSizePromedioCelular+6px;

            background-color: aliceblue;
            display:inline;
            padding-left:10px;
            padding-right: 10px;
            @include autoEmparejamiento;
        }
        main{
            grid-area: main;
        
            margin-bottom: 10px;
            border: 3px solid black;
        
            @include tamaño(300px, 400px);

            @include autoEmparejamiento;

            overflow: auto; 
        
            background-color: rgb(195, 155, 211 );
        
            font-family: Arial, Helvetica, sans-serif; 

            .noticia{

                margin: 10px;
                padding: 7px;
                background-color: rgb(221, 221, 250); 
                border: 3px dashed black;
                font-size: $fontSizePromedioCelular;

                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                .fotoNoticia{
                    margin-bottom: 3px;
                    height: 160px;
                    width: 230px;
                    border: 2px rgb(59, 56, 56) solid;
                }
                p{
                    margin-bottom: 3px;
                }
            
            }
        }//fin de las noticias recientes//

        /*flecha que manda para arriba*/
        .moverInicio{
            grid-area: flecha;
            
            .flecha{
                @include tamaño(45px, 45px);
                border-radius: 50px;
                border: 3px ridge black;
                position:fixed;
                z-index: 1;
                top: 85%;
                margin-left: 87%;
                margin-right: 5px;
                padding: 0px;
            }
        }


        /*Pie de pagina*/
        footer{
            grid-area: footer;
            margin-top: 10px;
            .pieDePagina{//lo que no es redes//

                display: flex;
                flex-flow: column nowrap;
                align-items: center;

                font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                font-size: $fontSizePromedioCelular;

                border-top: 3px solid rgb(51, 51, 0);
                background-color: rgb(177, 129, 221);

                .subPieDePagina{ //los datos sobre ubicacion y numeros (todo menos redes)//
                    padding: 5px;
                    iframe{
                        @include tamaño(300px, 150px);
                    }
                }

                .redes{//los links a redes sociales//

                    @include flexCentroCentro;
                    
                    @include autoEmparejamiento;

                    .subRedes{//los contenedores de fotos//

                        display: flex;
                        justify-content: center;
                        align-items: center;
                                
                        @include tamaño(2cm, 1cm);

                        margin: 0px 10px 10px;    


                        background-color: map-get($map: $botonRedes, $key: fondoRedes);
                        border: map-get($map: $botonRedes, $key:bordeRedes);

                        font-size: $fontSizePromedioCelular+1px;

                            &:hover{//para que se agranden los cuadros de redes//
                                transform:scale(1.19);
                                transition: 1.5s;
                            }
                            
                        //los links a redes//
                        .links{
                            text-decoration: none;
                            list-style: none;
                            color: black;
                            font-size: $fontSizePromedioCelular -1px;

                        }
                    }
                }
            }
        }
    }
}








//media queries//
/*para pantallas de tablets*/
@media only screen and (min-width:650px){

body{
    .contenedor{
        header{
            top: 10px;
            margin: 5px 4mm;
            .color-encabezado{
                .imagen{
                    margin: 0px;
                    @include tamaño(150px, 120px);
                }
            
                .palabrasEncabezado{//son los hipervinculos del encabezado, que se ponen espaciados//

                    justify-content: space-around ;
                    .nav-item{
                        @include flexCentroCentro;
                        padding: 1mm 3mm;
                        border: map-get($map:$botonNav , $key: bordeNav);
                        background-color: map-get($map:$botonNav , $key: fondoNav);
                        border-radius: map-get($map:$botonNav , $key: radioNav);

                        @include tamaño(120px, 80px);
                        text-align: center;
                    }
                }
            }
        }//fin encabezado//
        
        h1{
            font-size: $fontSizePromedioTablet+16px;  
            padding: 0px;

        }
        h2{
            font-size: $fontSizePromedioTablet+8px;
            padding: 0px;
        }

        main{

            @include tamaño(500px, 700px);
            .noticia{

                    margin: 16px 30px;
                    padding: 10px;
                    font-size: $fontSizePromedioTablet;
                    .fotoNoticia{

                        margin-bottom:  4px;
                        height: 230px;
                        width:400px;
                    }
                }
        }

        .moverInicio{
            .flecha{
                @include tamaño(60px, 60px);
                border: 2px ridge black;
                top: 88%;
                margin-left: 87%;
                margin-right: 5px;
            }
        }
   
        footer{
            .pieDePagina{
                margin-top: 30px;
                font-size: $fontSizePromedioTablet - 2px;

                .subPieDePagina{ //los datos sobre ubicacion y numeros (todo menos redes)//
                    iframe{
                        @include tamaño(500px, 250px);
                    }
                }

                .redes{//los links a redes sociales//

                    .subRedes{

                        @include tamaño(150px, 70px);
                            
                        //los links a redes//
                        .links{
                            font-size: $fontSizePromedioTablet - 4px;

                        }
                    }
                }
            }
        }
    }
} 
}/*fin de quering para tablets*/












@media only screen and (min-width:1200px){ //media quering para monitores//

body{
    .contenedor{
        header{
            margin: 2mm 1cm;
            
            top: 5px;
            .color-encabezado{
                .imagen{
                    @include tamaño(170px, 170px);
                }
            
                .palabrasEncabezado{//son los hipervinculos del encabezado, que se ponen espaciados//
                    .nav-item{
                        padding-left: 2mm;
                        margin: 4mm 5mm;

                        @include tamaño(180px, 60px);
                    }
                }
            }
        }//fin encabezado//
        

        h1{// el titulo de inicio//
            background-color: aliceblue;
            display:inline;
            font-size: 1cm;  
            padding-left:10px;
            padding-right: 10px;
            @include autoEmparejamiento;

        }


        h2{//inicio a noticias principales//
            display: inline;
        
            width: 15cm; 
            margin: 5mm auto 1mm;
            
            font-size: 0.75cm;
        }


            //quiero poner una foto de fondo para que no haya tanto espacio en la pagina, pero cunado la pongo la foto se pixelea o no alcanza con la distnacia (temporal)//
        .fondoMain{

        //    background-image: url(../imagenes/fondo3.png);
            background-repeat:repeat;

            margin: 0cm 1cm;
            padding: 1mm 0mm 1mm;
            main{   //la hoja de noticias recientes//

                z-index: 1;//para que la imagen este por debajo del cuadro con info//
            
                font-size: large;
            
                @include tamaño(15cm, 20cm);

                .noticia{       //segundo recuadro dentro de las noticias//

                    margin: 1cm;
                    padding: 7mm;
                    .fotoNoticia{

                        margin-bottom: 4px;
                        height: 260px;
                        width:420px;
                    }
                }
            }
        }
    
        //saco la flecha porque la pagina ya es corta como para tener una redireccion
        .moverInicio{
            .flecha{
                display:none;
            }
        }

        footer{

            margin-top: 1cm;
            .pieDePagina{   //lo que no es redes//
    
                    font-size: 4.5mm;
                
                    padding-top: 2mm;
                    .subPieDePagina{    //los datos sobre ubicacion y numeros (todo menos redes)//
                        padding: 1.3mm;
                        iframe{
                            @include tamaño(600px, 300px);
                        }
                    }   

                .redes{    //los links a redes sociales//
                    .subRedes{      //los contenedores de redes//
                        @include tamaño(4cm, 1.8cm);
                        
                        .links{     //los links a redes//
                            font-size: 17px;

                        }
                    }
                }
            }
        }
    }
} 
}/*fin de quering para computadoras*/
